h1{
    background-color: red;
    color: white;
    text-align: center;
    border: 2 px solid blue;
    border-radius: 30px 30px;
    width: 80%;
    font-size: 2.2rem;
    padding: 5px;
}

 h2 {
  text-align: center;
  margin-bottom: 30px;
 color: white;
  background-color: red;
  border-radius: 30px 30px;
  width: 80%;
  padding: 1px;
}

/* .bio{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}
.bio::first-letter {
  font-size: 1.2em;       
  float: left;         
  margin-right: 1px;
} */

.nav{
    display: flex;
}

nav > .elem{
    padding: 5px; 
    margin: 5px;
}

ul>li{
    margin-bottom: 15px;
}
.year, .category{
    border: 5px solid red;
    border-radius: 7px;
    width: 100px;
    text-align: center;
    background-color: aliceblue;
    color: black;
}
.category{
    width: 500px;
}
.image{
    float: right;
    margin-top: 190px;
    margin-right: 200px;
    margin-bottom: 0px;
}

.center{
    text-align: center;
}

.grant-summary{
    display: flex;
    gap: 10px;
    border: 2px dashed red;
    margin-bottom: 20px;
    padding: 5px;
    max-width:80%;
    background-color: aliceblue;
    justify-content: space-evenly;
    
}

/* .projects-container {
  padding: 2px;
} */

.project-card {
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 10px;
  background-color: #f5f5f5;
  box-shadow: 2px 5px 6px rgba(0,0,0,0.1);
}

.project-card h2 {
  color: #2c3e50;
}

.projectTitle{
    color: blueviolet;
    font-size: 1.5em;
}
    